
{% extends "layout.html" %}
{% block title %}List{% endblock%}
{% block main %}

    <!-- Message flashing-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif%}
    {% endwith %}
    <h1 class="h1">Shop List</h1>

    <!-- Remove Items Form -->
    <div class="workingarea">
        <div id="remove_items">
            <form action="/remove_items" method="POST">
                {% for item in list_data %}
                    <div class="katerina">
                        <input type="checkbox" name="check" id="{{ item }}" value="{{ item }}" onchange="check_me('{{ item }}')">
                        <label for="{{ items }}" name="{{ item }}">{{ item }}</label>
                        <select name="select_items" onchange="select_item(this)">
                            {% for item in group_member_names %}
                                <option value="{{ item }}" selected="selected('{{ item }}')">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
                <input type="submit" value="REMOVE ITEMS" id="btn_remove">
            </form>
        </div>

        <!-- JS Code for changing the dropdown of the the name-->
        <script>
            function select_item(item) {
                console.info(item.value)
            }
        </script>
    

        <!-- Add Items Form -->
        <div id="add_item">
            <form action="/add_items" method="POST">
                <select name="select_items">
                    {% for item in all_items %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                <input type="submit" value="ADD" id="btn_add">
            </form>
        </div>
    </div>


    <br>
    <br>
    <h3>Did not find what you where looking for?</h3>
    <div id="add_new_item">
        <form action="add_new_item" method="POST">
            <input class="inputfield" type="text" name="new_item" placeholder="Type in a new Item">
            <input type="submit" value="ADD" id="btn_add">
        </form>
    </div>


{% endblock %}