{% extends "layout.html" %}
{% block title %}List{% endblock%}
{% block main %}


<!-- Message flashing
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for msg in messages %}
        <p>{{msg}}</p>
    {% endfor %}
{% endif%}
{% endwith %}
-->
<h1>Test List</h1>

<!--form action="/search_items" method="GET"></form-->
    <input autocomplete="off" autofocus placeholder="Query" type="search">
    <!-- V1 | input type="submit" value="search"-->



    <ul id="my_list"></ul>
  
    <script>
        let input = document.querySelector('input');
        input.addEventListener('input', event => {
            const current_search = event.target.value;
            let ul = document.querySelector("#my_list");
            ul.innerHTML = "";
            console.log(ul);
            var items=[];
            const list_data = {{ data|tojson }};
            const list_data_filtered = list_data.filter(item => item.toLowerCase().includes(current_search.toLowerCase()));
            list_data_filtered.forEach(element => {
                var li = document.createElement('li');
                ul.appendChild(li);
                li.innerHTML = element;
                li.addEventListener("click",function(e) {
                    console.info('i was clicked,', e);
                    let httpRequest = new XMLHttpRequest();
                    httpRequest.open('POST', '/search');
                    httpRequest.setRequestHeader('Content-Type', 'application/json');
                    httpRequest.send(JSON.stringify({data:e.target.innerHTML}));       
                });
            });
        })
    </script>


<!-- V1 |
<br>
    <ul>
        {% for item in range(data|count) %}
            <li>{{ data[item]}}</li>
        {% endfor %}
    </ul>

{% endblock %}
-->
<!--
<form autocomplete="off"><input type="text" name="q" id="q" onKeyUp="showResults(this.value)" />
    <div id="result"></div>
</form>
-->